<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SVinhKVinh.Properties.Settings.SVinhKVinhConnectionString"
            connectionString="Data Source=OHMYGOD\HOSYVINH1510;Initial Catalog=SVinhKVinh;Persist Security Info=True;User ID=sa;Password=vinh1510;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>